html {
  font-family: sans-serif;

      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;

  font-size: 2em;
}

mark {
  color: #000;

  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;

  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;

  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;

  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;

  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[class^="icon--"]::before {
  display: inline-block;

  font-weight: normal;
  font-family: "project-symbols";
  vertical-align: top;
  text-transform: none;
  font-style: normal;
  font-variant: normal;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  font-size: 22px;
  line-height: 1.8;
  font-family: "Comfortaa", Tahoma, sans-serif;
  color: #333;
}

h1,
h2,
h3 {
  margin-top: 64px;
  margin-bottom: 32px;

  line-height: 1.2;
  font-family: "Poiret One", Tahoma, sans-serif;
  color: #222;
}

h1 + h2,
h2 + h3 {
  margin-top: 32px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}

.intro {
  color: #fff;

  background: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, .3) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, .3) 100px), linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), #8051b5 linear-gradient(90deg, #ffa48f, #8051b5);
  background-size: 100px 100px, 115px 100px, 115px 100px, 100%, contain;
}

.intro__center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;

  -ms-flex-pack: center;
  -ms-flex-align: center;
}

.intro__text:first-child {
  font: 36px "Poiret One", Tahoma, sans-serif;
  text-align: center;
  letter-spacing: .08em;
  word-spacing: .2em;
}

.skills {
  color: #fff;

  background: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, .3) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, .3) 100px), linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), #73a6da linear-gradient(90deg, #4465a2, #73a6da);
  background-size: 100px 100px, 115px 100px, 115px 100px, contain;
  box-shadow: inset 0 50px 50px -50px rgba(0, 0, 0, .5), inset 0 -50px 50px -50px rgba(0, 0, 0, .5);
}

.skills__center {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills__heading {
  position: relative;

  width: 380px;
  margin: 0 auto 120px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 150px;
  line-height: 1;
  text-align: center;
  color: #fff;
  letter-spacing: .1em;
}

.skills__heading::before,
.skills__heading::after {
  content: "";
  position: absolute;
  left: 50%;

  width: 20px;
  height: 20px;

  background-color: #fff;
  box-shadow: -119px 0 0 -7px rgba(255, 255, 255, .3), -108px 0 0 -6px rgba(255, 255, 255, .4), -95px 0 0 -5px rgba(255, 255, 255, .5), -80px 0 0 -4px rgba(255, 255, 255, .6), -63px 0 0 -3px rgba(255, 255, 255, .7), -44px 0 0 -2px rgba(255, 255, 255, .8), -23px 0 0 -1px rgba(255, 255, 255, .9), 23px 0 0 -1px rgba(255, 255, 255, .9), 44px 0 0 -2px rgba(255, 255, 255, .8), 63px 0 0 -3px rgba(255, 255, 255, .7), 80px 0 0 -4px rgba(255, 255, 255, .6), 95px 0 0 -5px rgba(255, 255, 255, .5), 108px 0 0 -6px rgba(255, 255, 255, .4), 119px 0 0 -7px rgba(255, 255, 255, .3);
  -webkit-transform: translateX(-50%) rotate(45deg) skewY(-45deg);
          transform: translateX(-50%) rotate(45deg) skewY(-45deg);
}

.skills__heading::before {
  bottom: 100%;

  -webkit-transform: translate(-50%, 100%) rotate(45deg) skewY(-45deg);
          transform: translate(-50%, 100%) rotate(45deg) skewY(-45deg);
}

.skills__heading::after {
  top: 100%;

  -webkit-transform: translate(-50%, -100%) rotate(45deg) skewY(-45deg);
          transform: translate(-50%, -100%) rotate(45deg) skewY(-45deg);
}

.skills__row {
  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px;

      -ms-flex-wrap: wrap;
}

.skills__row:not(:last-child) {
  margin-bottom: 90px;
}

.skills__row:nth-child(2) {
  background-color: rgba(255, 255, 255, .3);
}

.skills__row:nth-child(3) {
  background-color: rgba(255, 255, 255, .15);
}

.skills__row:last-child {
  background-color: rgba(255, 255, 255, .05);
}

.skills__descr {
  position: absolute;
  bottom: 100%;

  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;

  font: 36px/40px "Poiret One", Tahoma, sans-serif;
  color: #fff;
}

.skills__row:nth-child(2) .skills__descr {
  left: 50px;

  background-color: rgba(255, 255, 255, .3);
}

.skills__row:nth-child(3) .skills__descr {
  right: 50px;

  background-color: rgba(255, 255, 255, .15);
}

.skills__row:last-child .skills__descr {
  left: 50px;

  background-color: rgba(255, 255, 255, .05);
}

.skills__descr:before,
.skills__descr:after {
  content: "";
  position: absolute;
  top: 0;

  width: 0;
  height: 0;

  border-style: solid;
}

.skills__descr:before {
  right: 100%;

  border-width: 50px 50px 0 0;
}

.skills__descr:after {
  left: 100%;

  border-width: 50px 0 0 50px;
}

.skills__row:nth-child(2) .skills__descr:before {
  border-color: transparent rgba(255, 255, 255, .3) transparent transparent;
}

.skills__row:nth-child(2) .skills__descr:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, .3);
}

.skills__row:nth-child(3) .skills__descr:before {
  border-color: transparent rgba(255, 255, 255, .15) transparent transparent;
}

.skills__row:nth-child(3) .skills__descr:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, .15);
}

.skills__row:last-child .skills__descr:before {
  border-color: transparent rgba(255, 255, 255, .05) transparent transparent;
}

.skills__row:last-child .skills__descr:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, .05);
}

.skills__item {
  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 90px;
  height: 130px;
  margin: 10px 40px;

  text-align: center;
  color: #52677d;

  background-color: rgba(255, 255, 255, .5);

  -ms-flex-pack: center;
  -ms-flex-align: center;
}

.skills__item::before,
.skills__item::after {
  content: "";
  position: absolute;
  top: 0;

  width: 0;
  height: 0;

  border-style: solid;
}

.skills__item::before {
  right: 100%;

  border-width: 65px 30px 65px 0;
  border-color: transparent rgba(255, 255, 255, .5) transparent transparent;
}

.skills__item::after {
  left: 100%;

  border-width: 65px 0 65px 30px;
  border-color: transparent transparent transparent rgba(255, 255, 255, .5);
}

.skills__text-long {
  position: relative;
  z-index: 1;

  display: inline-block;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  width: 120px;

  font-size: 20px;
  line-height: 1.2;
  vertical-align: top;

  -ms-flex-negative: 0;
}

.portfolio {
  color: #fff;

  background: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, .3) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, .3) 100px), linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), #f3a183 linear-gradient(90deg, #f3a183, #ec6f66);
  background-size: 100px 100px, 115px 100px, 115px 100px, contain;
}

.portfolio__center {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 150px;
}

.portfolio__heading {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 150px;
  line-height: 1;
  text-align: center;
  color: #fff;
  letter-spacing: .1em;
}

.portfolio__button-group {
  position: relative;

  width: 540px;
  height: 205px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.portfolio__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.portfolio__item {
  width: 333px;
  height: 444px;
}

.btn {
  display: inline-block;

  vertical-align: baseline;
  text-align: center;
  text-decoration: none;

  border: none;
  outline: none;
}

.btn--filter {
  position: absolute;

  width: 90px;
  height: 130px;
  padding: 0;

  line-height: 130px;
  vertical-align: top;
  color: #fff;

  background-color: rgba(255, 255, 255, .15);

  transition: color .3s, background-color .3s, -webkit-transform .3s;
  transition: color .3s, background-color .3s, transform .3s;
  transition: color .3s, background-color .3s, transform .3s, -webkit-transform .3s;
}

.btn--filter:first-child {
  top: 70px;
  left: 30px;
}

.btn--filter:nth-child(2) {
  left: 155px;
}

.btn--filter:nth-child(3) {
  top: 70px;
  left: 280px;
}

.btn--filter:last-child {
  left: 405px;
}

.btn--filter::before,
.btn--filter::after {
  content: "";
  position: absolute;
  top: 0;

  width: 0;
  height: 0;

  border-style: solid;

  transition: border-color .3s;
}

.btn--filter::before {
  right: 100%;

  border-width: 65px 30px 65px 0;
  border-color: transparent rgba(255, 255, 255, .15) transparent transparent;
}

.btn--filter::after {
  left: 100%;

  border-width: 65px 0 65px 30px;
  border-color: transparent transparent transparent rgba(255, 255, 255, .15);
}

.btn--filter:hover,
.btn--filter:active {
  background-color: rgba(255, 255, 255, .3);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.btn--filter:hover::before,
.btn--filter:active::before {
  border-right-color: rgba(255, 255, 255, .3);
}

.btn--filter:hover::after,
.btn--filter:active::after {
  border-left-color: rgba(255, 255, 255, .3);
}

.btn--filter:active {
  color: rgba(255, 255, 255, .3);

  background-color: rgba(255, 255, 255, .15);
}

.btn--filter:active::before {
  border-right-color: rgba(255, 255, 255, .15);
}

.btn--filter:active::after {
  border-left-color: rgba(255, 255, 255, .15);
}

.btn__text-long {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 120px;

  font-size: 20px;
  line-height: 1.2;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preview {
  position: relative;

  height: 444px;
  overflow: hidden;

  background-color: rgba(255, 255, 255, .2);
  border: 10px solid rgba(255, 255, 255, .2);
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.preview__image {
  width: 100%;
  height: auto;

  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.preview__overlay {
  position: absolute;
  top: 0;

  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  height: 502px;
  padding: 70px 20px 90px;

  text-align: center;
  color: #fff;

  background: #f3a183 linear-gradient(90deg, #ec6f66, #f3a183);
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  opacity: 0;

  transition: opacity .2s;

  -ms-flex-pack: center;
  -ms-flex-align: center;
}

.preview:hover .preview__overlay {
  opacity: 1;
}

.preview__title {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Poiret One", Tahoma, sans-serif;
  text-transform: uppercase;
}

.about {
  color: #fff;

  background: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, .3) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, .3) 100px), linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, .3) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, .3) 99px, transparent 100px), #b5bdf9 linear-gradient(90deg, #b5bdf9, #7c56a7);
  background-size: 100px 100px, 115px 100px, 115px 100px, 100%, contain;
  box-shadow: inset 0 50px 50px -50px rgba(0, 0, 0, .5), inset 0 -50px 50px -50px rgba(0, 0, 0, .5);
}

.about__center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 1000px;
  min-height: 90vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 150px;

      -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
}

.about__heading {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 150px;
  line-height: 1;
  text-align: center;
  color: #fff;

  -ms-flex-positive: 1;
}

.about__column-heading {
  display: block;
  margin-top: 50px;
  margin-bottom: 32px;

  font: 48px / 1 "Poiret One", Tahoma, sans-serif;
  text-align: center;
  color: #fff;
  letter-spacing: .1em;
}

.about__column {
  width: 47.5%;
  padding: 20px 20px 70px;

  text-align: center;

  background-color: rgba(66, 38, 99, .3);
}

.about__column > *:first-child {
  margin-top: 0;
}

.about__column > *:last-child {
  margin-bottom: 0;
}

.about__text {
  margin-top: 1.2em;
  margin-bottom: 1.2em;

  text-align: left;
}

.about__row {
  font-size: 0;
}

.about__link {
  font-weight: 700;
  color: inherit;

  transition: color .15s, text-shadow .15s;
}

.about__link:hover,
.about__link:active {
  text-shadow: 0 0 2px rgba(255, 255, 255, .8);
}

.about__link:active {
  color: rgba(255, 255, 255, .3);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0);
}

.about__text-crossed {
  font-size: .8em;
  text-decoration: line-through;
}

.certificate {
  display: inline-block;

  vertical-align: top;

  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.certificate:first-child {
  -webkit-transform: translateX(12.5%) skewY(-10deg);
          transform: translateX(12.5%) skewY(-10deg);
}

.certificate:last-child {
  -webkit-transform: translateX(-12.5%) skewY(-10deg);
          transform: translateX(-12.5%) skewY(-10deg);
}

.certificate__img {
  display: inline-block;
  width: 215px;
  height: auto;

  vertical-align: top;
}

.page-footer {
  padding: 50px;

  background: #2d2d2d linear-gradient(90deg, #2d2d2d, #948c92);
}

.page-footer > *:first-child {
  margin-top: 0;
}

.page-footer > *:last-child {
  margin-bottom: 0;
}

.page-footer__text {
  width: 850px;
  margin: 0 auto;

  font-size: 20px;
  text-align: center;
  color: #fff;
}

.page-footer__text-hidden {
  display: none;
}

.page-footer__text-emphasis {
  color: #ff4f6e;
}

@font-face {
  font-weight: 400;
  font-family: "Comfortaa";
  font-style: normal;

  src: url("../font/comfortaa-regular.woff2") format("woff2"), url("../font/comfortaa-regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Nothing You Could Do";
  font-style: normal;

  src: url("../font/nothingyoucoulddo-regular.woff2") format("woff2"), url("../font/nothingyoucoulddo-regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Poiret One";
  font-style: normal;

  src: url("../font/poiretone-regular.woff2") format("woff2"), url("../font/poiretone-regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "project-symbols";
  font-style: normal;

  src: url("../font/project-symbols.woff") format("woff");
}

@media (min-width: 1200px) {
  .intro {
    -webkit-animation: move-bg 10s linear infinite;
            animation: move-bg 10s linear infinite;
  }

  .skills {
    -webkit-animation: move-bg--reverse 10s linear infinite;
            animation: move-bg--reverse 10s linear infinite;
  }

  .portfolio {
    -webkit-animation: move-bg 10s linear infinite;
            animation: move-bg 10s linear infinite;
  }

  .about {
    -webkit-animation: move-bg--reverse 10s linear infinite;
            animation: move-bg--reverse 10s linear infinite;
  }
}

@-webkit-keyframes move-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100px 0, -115px 0, -115px 0, 0 0;
  }
}

@keyframes move-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100px 0, -115px 0, -115px 0, 0 0;
  }
}

@-webkit-keyframes move-bg--reverse {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100px 0, 115px 0, 115px 0, 0 0;
  }
}

@keyframes move-bg--reverse {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100px 0, 115px 0, 115px 0, 0 0;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
            animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
    opacity: 0;
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
            animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
    opacity: 0;
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
