html {
  font-family: sans-serif;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[class*="icon-"]::before {
  display: inline-block;
  vertical-align: top;
  font-family: "symbols-kitchen-master";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="icon--facebook"]::before {
  content: "\e800";
}

[class*="icon--twitter"]::before {
  content: "\e801";
}

[class*="icon--right"]::before {
  content: "\e802";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 940px;
  color: #222;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 21px;
}

table {
  margin-top: 25px;
  margin-bottom: 25px;
}

blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Ostrich Sans", Arial, sans-serif;
  font-weight: 900;
}

h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 36px;
}

h2 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
}

h3 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
}

h5 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 16px;
}

h6 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 10px;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}

ul,
ol,
dl {
  margin-top: 25px;
  margin-bottom: 25px;
}

.page-header {
  min-height: 920px;
  padding-bottom: 265px;
  color: #fff;
  background: url(../img/bg_header-text.png) center 135px no-repeat, url(../img/bg_header-bottom.png) bottom no-repeat, #2a323a;
  background-clip: border-box, border-box, content-box;
}

.page-header__inner {
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__main-nav-wrap {
  padding-top: 55px;
  padding-bottom: 55px;
}

.page-header__logo {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 322px;
  height: 25px;
  margin-left: -161px;
}

.page-header__logo-image {
  width: 322px;
  height: 25px;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.main-nav__list--clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}

.main-nav__item:nth-child(2) {
  margin-right: 375px;
}

.main-nav__item--current {
  color: #fff;
}

.main-nav__item--footer {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  text-transform: none;
}

.main-nav__item--footer:nth-child(2) {
  margin-right: 0;
}

.main-nav__link {
  display: block;
  min-width: 110px;
  padding-left: 22px;
  padding-right: 22px;
  color: #fff;
  text-decoration: none;
  opacity: .6;
  transition: opacity .15s;
}

.main-nav__link:hover {
  opacity: 1;
}

.main-nav__link:active {
  opacity: .3;
}

.descr__inner {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 120px;
}

.descr__row--clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.descr__row:first-child {
  margin-bottom: 145px;
}

.descr__text-wrap {
  float: left;
  width: 460px;
}

.descr__row:last-child .descr__text-wrap {
  float: right;
}

.descr__row:first-child .descr__text-wrap {
  padding-top: 35px;
}

.descr__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #222;
}

.descr__row:last-child .descr__heading {
  padding-right: 160px;
}

.descr__heading + .descr__text {
  margin-top: 15px;
}

.descr__text:last-child {
  margin-bottom: 0;
}

.descr__image-wrap {
  float: right;
  width: 300px;
  height: 210px;
  background-color: #2a323a;
  background-clip: content-box;
}

.descr__row:last-child .descr__image-wrap {
  float: left;
  padding-top: 25px;
  height: 235px;
}

.descr__image {
  width: 300px;
  height: 210px;
  border: 10px solid #2a323a;
}

.register {
  padding-top: 456px;
  padding-bottom: 134px;
  background: url(../img/bg_register-top.png) top no-repeat, url(../img/bg_register-bottom.png) bottom no-repeat, #2a323a;
  background-clip: border-box, border-box, content-box;
}

.register__inner {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.register__text {
  margin-top: 0;
  color: rgba(255, 255, 255, .8);
  font-family: "Ostrich Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.btn {
  display: inline-block;
  padding: 15px 50px 5px 50px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: color .15s, border-color .15s, background-color .15s, box-shadow .15s;
}

.btn--register {
  color: #2ecc71;
  border: 3px solid #2ecc71;
  border-radius: 30px;
}

.btn--register:hover {
  color: #fff;
  background-color: #2ecc71;
}

.btn--register:active {
  color: rgba(255, 255, 255, .5);
  border-color: #1b7943;
  background-color: #1b7943;
}

.btn--subscribe {
  height: 26px;
  padding: 0 9px 0 9px;
  color: #a1a1a1;
  font-size: 0;
  line-height: 26px;
  background-color: transparent;
}

.btn--subscribe:hover {
  color: #fff;
}

.btn--subscribe:active {
  color: rgba(161, 161, 161, .6);
}

.testimonials__inner {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.testimonials__heading {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}

.testimonials__item {
  width: 380px;
  margin: 0;
}

.testimonials__item:nth-child(even) {
  position: relative;
  top: -40px;
  margin-left: auto;
}

.testimonials__item:nth-child(odd):nth-child(n+3) {
  margin-top: -90px;
}

.testimonials__text {
  display: block;
  padding-bottom: 51px;
  color: #2a323a;
  background: transparent url(../img/bg_blockquote.png) bottom no-repeat;
}

.testimonials__author-wrap {
  position: relative;
  margin-top: -15px;
  padding-top: 5px;
  padding-left: 260px;
}

.testimonials__author-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 205px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
}

.testimonials__author {
  margin-top: 0;
  margin-bottom: 0;
  color: #2a323a;
  font-weight: 700;
}

.testimonials__occupation {
  color: #898989;
  font-size: 14px;
}

.page-footer {
  color: #fff;
  background: #3d434a url(../img/bg_footer.jpg) top no-repeat;
}

.page-footer__inner {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 235px;
  padding-bottom: 65px;
}

.page-footer__columns {
  margin-bottom: 70px;
}

.page-footer__columns--clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-footer__column {
  position: relative;
  float: left;
}

.page-footer__column:nth-child(1) {
  width: 240px;
  margin-right: 80px;
}

.page-footer__column:nth-child(2) {
  width: 160px;
  margin-right: 80px;
}

.page-footer__column:nth-child(3) {
  width: 380px;
}

.page-footer__column:nth-child(-n+2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 185px;
  border-left: 1px dotted #a1a1a1;
}

.page-footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #f39c12;
  font-family: "Ostrich Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.page-footer__contacts-address {
  margin-top: 20px;
}

.page-footer__contacts-phone {
  margin-bottom: 0;
}

.page-footer__contacts-email {
  margin-top: 0;
}

.page-footer__contacts-link {
  color: #2ecc71;
  text-decoration: none;
  transition: color .15s;
}

.page-footer__contacts-link:hover {
  color: #7ee2a8;
}

.page-footer__contacts-link:active {
  color: rgba(46, 204, 113, .7);
}

.page-footer__copyright-text {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.socials {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 16px;
  height: 16px;
  color: #fff;
  line-height: 16px;
  border-radius: 50%;
  transition: color .15s;
}

.socials__link:hover {
  color: #f39c12;
}

.socials__link:active {
  color: rgba(243, 156, 18, .8);
}

.socials__icon {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
}

.subscribe__input-wrap {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a1a1a1;
  transition: border-color .15s;
}

.subscribe__input-wrap--white-border {
  border-bottom-color: #fff;
}

.subscribe__email {
  width: 343px;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
}

.subscribe__icon {
  font-size: 20px;
}

.subscribe__text {
  font-family: "Ostrich Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.subscribe__text:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe__text:nth-last-child(2) {
  margin-top: 30px;
  margin-bottom: 0;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  src: url("../font/proximanovaregular-webfont.eot");
  src: url("../font/proximanovaregular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanovaregular-webfont.woff2") format("woff2"), url("../font/proximanovaregular-webfont.woff") format("woff"), url("../font/proximanovaregular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  src: url("../font/proximanovabold-webfont.eot");
  src: url("../font/proximanovabold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanovabold-webfont.woff2") format("woff2"), url("../font/proximanovabold-webfont.woff") format("woff"), url("../font/proximanovabold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Ostrich Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../font/ostrichsans-medium-webfont.eot");
  src: url("../font/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ostrichsans-medium-webfont.woff2") format("woff2"), url("../font/ostrichsans-medium-webfont.woff") format("woff"), url("../font/ostrichsans-medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Ostrich Sans";
  font-weight: 900;
  font-style: normal;
  src: url("../font/ostrichsans-black-webfont.eot");
  src: url("../font/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ostrichsans-black-webfont.woff2") format("woff2"), url("../font/ostrichsans-black-webfont.woff") format("woff"), url("../font/ostrichsans-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "symbols-kitchen-master";
  src: url("../font/symbols-kitchen-master.eot?66250449");
  src: url("../font/symbols-kitchen-master.eot?66250449#iefix") format("embedded-opentype"), url("../font/symbols-kitchen-master.woff?66250449") format("woff"), url("../font/symbols-kitchen-master.ttf?66250449") format("truetype"), url("../font/symbols-kitchen-master.svg?66250449#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
