.page-header__search-form {
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.page-header__search {
  width: 109px;
  text-align: left;
  outline: 1px solid #f98561;
}

.page-header__search-btn {
  position: relative;
  margin-left: -10px;
}

.services__inner {
  padding-top: 20px;
}

.services__heading {
  position: static;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #2190c2;
  background-color: transparent;
}

/* О_О что за хрень? */
.portfolio__types-link {
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio__categories-heading {
  font-size: 18px;
}
