/******************** Шрифт PT Sans ********************/

/* cyrillic-ext */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYryh_4Vx_7RIyhQ3vqTJYis.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYuICWD8dS1fawAsHP3zkW40.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYmwfvudCZ8RknLCBmdpmlzc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYhKUK2vxztsQZZBkxIuj92o.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/******************** Спрайт ********************/

.sprite {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-icon-close {
  width: 23px;
  height: 23px;
  background-position: -15px -15px;
}

.sprite-icon-f {
  width: 12px;
  height: 22px;
  background-position: -15px -68px;
}

.sprite-icon-f-hover {
  width: 12px;
  height: 22px;
  background-position: -15px -120px;
}

.sprite-icon-inst {
  width: 21px;
  height: 21px;
  background-position: -15px -172px;
}

.sprite-icon-inst-hover {
  width: 21px;
  height: 21px;
  background-position: -15px -223px;
}

.sprite-icon-login {
  width: 18px;
  height: 16px;
  background-position: -15px -274px;
}

.sprite-icon-password {
  width: 15px;
  height: 17px;
  background-position: -15px -320px;
}

.sprite-icon-radio-checked {
  width: 12px;
  height: 12px;
  background-position: -15px -367px;
}

.sprite-icon-user {
  width: 15px;
  height: 15px;
  background-position: -15px -409px;
}

.sprite-icon-vk {
  width: 25px;
  height: 16px;
  background-position: -15px -454px;
}

.sprite-icon-vk-hover {
  width: 25px;
  height: 16px;
  background-position: -15px -500px;
}

/****************************************/

body {
  min-width: 960px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  background: #000 url(../img/bg-index.jpg) top no-repeat;
}

h1 {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 34px;
}


/***************************************************
******************** index.html ********************
***************************************************/

/******************** Шапка ********************/

.main-header {
  margin-bottom: 60px;
  color: #fff;
  background-color: #000;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  float: left;
  max-width: 780px;
  font-size: 0;
}

.main-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  display: block;
  height: 5px;
  background-color: #fff;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.main-navigation a:hover { background-color: #242424; }

.main-navigation .active a:hover { background-color: #000; }

.user-block {
  float: right;
  max-width: 140px;
}

.user-block a {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.user-block a:hover,
.user-block a:active { background-color: #242424; }

.user-block i {
  margin-right: 10px;
  opacity: .4;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

.user-block:hover i,
.user-block:active i { opacity: 1; }

/******************** Контент ********************/

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 368px;
  height: 204px;
}

.logo img {
  width: 368px;
  height: 204px;
}

.features-row { margin-bottom: 80px; }

.features-item {
  float: left;
  margin-right: 20px;
  width: 300px;
  color: #f7f4f1;
  text-align: center;
}

.features-item:last-child { margin-right: 0; }

.features-title {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 45px;
  font-size: 30px;
  line-height: 40px;
}

.features-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: -10px;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features-item p {
  margin-top: 0;
  margin-bottom: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000;
  background: 
    url(../img/divide.png) no-repeat 50%,
    #f6f3f0 url(../img/bg-content.jpg);
}

.index-content:last-child { margin-bottom: 60px; }

.index-content .content-column-left {
  float: left;
  width: 350px;
}

.index-content .content-column-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 40px;
}

.news-preview { 
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none; 
}

.news-preview li:not(:last-child) { margin-bottom: 25px; }

.news-preview time { text-transform: none; }

.btn {
  display: inline-block;
  margin-right: 5px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  background-color: #000;
  border: none;
  -webkit-transition-property: background;
          transition-property: background;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.btn:last-child { margin-right: 0; }

.btn:hover { background-color: #663d15}

.index-content .btn { width: 140px; }

.index-content p {
  margin-top: 0;
  margin-bottom: 30px;
}

.main-contacts .btn {
  margin-right: 15px;
  width: 110px; 
}

.main-contacts .btn:last-child { margin-right: 0; }

.index-content .content-column-right {
  float: right;
  width: 300px;
}

.index-content .gallery { 
  position: relative;
  padding-bottom: 80px;
}

.index-content .gallery-content { 
  margin: 0;
  width: 286px;
  height: 164px;
  border: 7px solid #fff;
}

.gallery .btn { 
  position: absolute; 
  bottom: 0;
}

.gallery-prev { left: 0; }

.gallery-next { right: 0; }

.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  width: 140px;
  border: 2px solid #000;
  text-transform: uppercase;
}

.appointment-form input:nth-child(2n) { margin-right: 0; }

.appointment-form input:last-of-type { margin-bottom: 30px; }

.appointment-form input:focus {
  border-color: #663d15;
  outline: none;
}

.appointment-form button[type="submit"] { 
  clear: both;
  width: 100%; 
}

/******************** Подвал ********************/

.main-footer {
  padding-top: 55px;
  padding-bottom: 40px;
  color: #fff;
  background: #232323 url(../img/bg-footer.jpg);
}

.footer-contacts {
  float: left;
  margin-right: 90px;
  width: 310px;
}

.footer-contacts a { color: #fff; }

.footer-social {
  float: left;
  min-width: 140px;
  font-size: 0;
  text-align: center;
}

.footer-social p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
}

.social-btn {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  padding-top: 9px;
  width: 43px;
  height: 43px;
  font-size: 0;
  text-align: center;
  background-color: #000;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

.social-btn:last-child { margin-right: 0; }

.social-btn:hover { background-color: #fff;} 

.social-btn-vk:hover .sprite { background-position: -15px -500px; }

.social-btn-f:hover .sprite { background-position: -15px -120px; }

.social-btn-inst:hover .sprite { background-position: -15px -223px; }

.footer-copyright {
  float: right;
  min-width: 140px;
  text-align: center;
}

.footer-copyright p {
  margin-top: 0;
  margin-bottom: 15px;
}

/******************** Всплывающая форма ********************/

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-200px); }
  70% { -webkit-transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); }
}

@keyframes bounce {
  0% { transform: translateY(-200px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); }
  20%, 40%, 60%, 90% { -webkit-transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0) }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px) }
  20%, 40%, 60%, 90% { transform: translateX(10px) }
}

.modal-content {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  display: none;
  margin-top: 150px;
  margin-left: -230px;
  padding: 50px 80px;
  width: 300px;
  color: #000;
  background: #fff url("../img/bg-content.jpg");
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

.modal-error {
  -webkit-animation: shake .6s;
          animation: shake .6s
}

.modal-content-close {
  position: absolute;
  top: 5px;
  right: -35px;
  width: 23px;
  height: 23px;
  font-size: 0;
  cursor: pointer;
  background: url("../img/spritesheet.png") -15px -15px no-repeat;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin-top: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  width: 236px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #000;
  outline: none;
  background: #f9f6f3;
}

.login-form input:focus { border-color: #663d15; }

.login-form input.icon-user { background: url("../img/spritesheet.png") right -395px no-repeat; }

.login-form input.icon-password { background: url("../img/spritesheet.png") right -307.5px no-repeat; }

.login-form .restore {
  float: right;
  color: #000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-form input[type="checkbox"] { display: none; }

.login-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: top;
}

.login-form input[type="checkbox"] + label:hover { color: #663d15; }

.login-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}

.login-form input[type="checkbox"]:checked + label::before { background: url("../img/spritesheet.png") -12px -365px no-repeat; }

/******************** Всплывающая карта ********************/

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  width: 766px;
  height: 560px;
  margin-left: -390px;
  margin-top: -280px;
  border: 7px solid #fff;
  background: #e9e5dc url("../img/bg-map-index.jpg");
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-map-show {
  display: block;
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

.modal-content-map-close {
  position: absolute;
  top: 0;
  right: -40px;
  width: 23px;
  height: 23px;
  font-size: 0;
  cursor: pointer;
  background: url("../img/spritesheet.png") -15px -15px no-repeat;
}

/***************************************************
******************** price.html ********************
***************************************************/

.inner-page {
  color: #000;
  background: #f6f3f0 url(../img/bg-content.jpg);
}

.inner-page .main-header { margin-bottom: 55px; }

.inner-page-title { margin-bottom: 55px; }

.inner-page-title h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  vertical-align: middle;
  font-size: 14px;
}

.breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 15px;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs a:hover { text-decoration: underline; }

.breadcrumbs .current {
  padding-right: 0;
  color: #aba9a7;
}

.breadcrumbs .current:after { display: none; }

.inner-content { margin-bottom: 75px; }

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 30px;
}

.inner-content p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.inner-content table { border-collapse: collapse; }

.inner-content td {
  padding: 10px 15px;
  border: 2px solid #000;
}

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index:2;
  display: inline;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url("../img/bg-content.jpg");
}

.big-heading:after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000;
}

.custom-list1 {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 0;
  list-style: none;
}

.custom-list1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list1 li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.price-table { width: 100%; }

.price-table td { width: 50%; }

.price-table td:last-child { text-align: center; }

.inner-content-columns {
  margin-top: 60px;
  margin-bottom: 60px;
}

.inner-content-column-left,
.inner-content-column-right { width: 460px; }

.inner-content-column-left { float: left; }

.inner-content-column-right { float: right; }

.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child { margin-top: 0; }

.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child { margin-bottom: 0; }

.short-text { padding-right: 80px; }

.inner-page .main-footer { box-shadow: inset 0 20px 50px -10px #000; }

/***************************************************
******************* catalog.html *******************
***************************************************/

.catalog-content .content-column-left {
  float: left;
  width: 220px;
}

.filters-container fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 45px;
  padding: 0;
  border: none;
}

.filters-container legend {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 34px;
}

.filters-container ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.filters-container li:not(:last-child) { margin-bottom: 20px; }

.filters-container input { display: none;}

.filters-container label {
  position: relative;
  display: block;
  padding-left: 45px;
  width: 125px;
  line-height: 18px;
  cursor: pointer;
}

.filters-container label:hover { color: #663d15; }

input:disabled + label { color: #c0bebc; }

input:disabled + label:hover { color: #c0bebc; }

.producers label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
}

input:disabled + label::before { border-color: #c0bebc; }

#producer-1:checked ~ label[for="producer-1"]::before,
#producer-2:checked ~ label[for="producer-2"]::before,
#producer-3:checked ~ label[for="producer-3"]::before,
#producer-4:checked ~ label[for="producer-4"]::before,
#producer-5:checked ~ label[for="producer-5"]::before,
#producer-6:checked ~ label[for="producer-6"]::before {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -13px -365px;
}

.product-groups label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  padding: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000;
}

#group-1:checked ~ label[for="group-1"]::before,
#group-2:checked ~ label[for="group-2"]::before,
#group-3:checked ~ label[for="group-3"]::before {
  background-color: #000;
  background-clip: content-box;
}

.filters-container .btn { width: 110px; }

.catalog-content .content-column-right {
  float: right;
  width: 700px;
}

.items-container { font-size: 0; }

.items-container .item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 220px;
  vertical-align: top;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  background-color: #fff;
}

.items-container img {
  width: 220px;
  height: 165px;
}

.items-container .item:nth-child(3n+3) { margin-right: 0; }

.items-container .item:last-of-type { margin-bottom: 44px; }

.items-container .item-title {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 24px;
}

.item-title a {
  color: #000;
  text-decoration: none;
}

.item-title span { display: block;}

.purchase-block {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  background-color: #e5e5e5;
}

.purchase-block .btn { float: right; }

.purchase-block span {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination { margin-bottom: 45px; }

.btn-page {
  font-size: 14px;
  margin-right: 7px;
}

.btn-page:last-child { margin-right: 0; }

.btn-page-active {
  display: inline-block;
  padding: 10px 20px;
  vertical-align: top;
  background-color: #fff;
}

/***************************************************
***************** catalog-item.html ****************
***************************************************/

.catalog-item-content { margin-bottom: 45px; }

.catalog-item-content .content-column-left {
  float: left;
  width: 460px;
}

.catalog-item-gallery .main-photo-container {
  margin-bottom: 20px;
  width: 460px;
  height: 498px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.main-photo-container img {
  width: 460px;
  height: 498px;
}

.catalog-item-gallery .photo-container {
  float: left;
  margin-right: 20px;
  width: 140px;
  height: 149px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.photo-container img {
  width: 140px;
  height: 149px;
}

.catalog-item-gallery .photo-container:last-child { margin-right: 0; }

.catalog-item-content .content-column-right {
  float: right;
  width: 390px;
}

.item-description .article-block {
  float: right;
  max-width: 200px;
  color: #b3b3b3;
}

.item-description p {
  margin-top: 0;
  margin-bottom: 35px;
}

.item-description .purchase-block {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 65px;
  width: 190px;
}

.item-description-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}

.kit-elements {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.kit-elements li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
}

.kit-elements li:last-child {
  margin-bottom: 0;
}

.kit-elements li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/***************************************************
******************** login.html ********************
***************************************************/

.login-container {
  margin-left:  auto;
  margin-right:  auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 300px;
  color: #000;
}

.login-container p {
  margin-top: 0;
  margin-bottom: 14px;
}

/*************************************************
******************** map.html ********************
*************************************************/

.map-container {
  width: 766px;
  height: 560px;
  border: 7px solid #fff;
  background: #e9e5dc url("../img/bg-map-index.jpg");
}